name: Fluidterm Linux executable builder

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release version'
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PyInstaller
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade PyInstaller
    - name: Set release version
      run: |
        git config user.email "wmb@firmworks.com"
        git config user.name "Mitch Bradley"
        git tag "${{ github.event.inputs.tag }}" -a -m "Release test"
    - name: Build release
      run: python -m PyInstaller fluidterm.py
    - name: Upload release
      uses: actions/upload-artifact@v2
      with:
        name: releaseZipFile
        path: dist/fluidterm
