name: Fluidterm Windows executable builder

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release version'
        required: true

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PyInstaller
      run: |
        python3 -m pip install --upgrade pip
        pip3 install --upgrade PyInstaller
        pip3 install --user pyserial xmodem tk
    - name: Build release
      run: python -m PyInstaller --hidden-import pyserial --hidden-import tkinter --hidden-import tkinter.filedialog --onefile fluidterm.py
    - name: Upload release
      uses: actions/upload-artifact@v2
      with:
        name: fluidter-windows.zip
        path: dist/fluidterm
